<h1>About JAPAN News IN THE WORLD</h1>

<div class="row">
  <% @top_articles[0..2].each do |article| %>
    <%= render partial: 'article', locals: {article: article} %>
  <% end %>
</div>

<div class="row">
  <% @top_articles[3..5].each do |article| %>
    <%= render partial: 'article', locals: {article: article} %>
  <% end %>
</div>

<a href="http://newsapi.org">Powered by News API</a>